---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v3.2/17841593698074073/recent_media?access_token=EAAUiZCczYw5wBAGuok0kUz9IHlLZAxGonmNQzBPtzwtgft9LfJ7fGIYXOZBEBrLZAZBAyZBerjSqAZAAVwZAm64OpU9bJMm8PXnsfzWutGDmZAdhSGMMixCsFdZAnZAcKM1Yot7ZAVq0pZBZCW0wCYIfwAar1uWHP1ZAwUDAhbTcPeRhJpVRu5gvpL3YLZAs&fields=id,media_type,comments_count,permalink,media_url,like_count,caption&limit=50&user_id=17841412154572203
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"e5ab5de35267cca97f9f2f029d6b15e45a44fa2c"'
      X-Page-Usage:
      - '{"call_count":1,"total_cputime":1,"total_time":1}'
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":1}'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.2
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"17976242359266411","media_type":"IMAGE","comments_count":0,"permalink":"https:\/\/www.instagram.com\/p\/BzLzuQgggkl\/","media_url":"https:\/\/scontent.xx.fbcdn.net\/v\/t51.2885-15\/64725216_1010954122427148_7143729313115968461_n.jpg?_nc_cat=110&_nc_oc=AQkh5TrfUkz1TTkD2kPIhEeT6Wrkr7bhVV-9gtGKQS9iEcfwDX4lkXzXZ_ALkkwm1BM&_nc_ht=scontent.xx&oh=bf5495ebd216654a49450f25184f021a&oe=5DC06C6B","like_count":1,"caption":"BOLSA
        SANTA LOLLA + NECESSERIE R$110,00 \ud83d\udc9e\ud83d\udce6\ud83d\udcedEnviamos
        para todo o Brasil \ud83c\udde7\ud83c\uddf7 \ud83d\udcb3\ud83d\udcb3\ud83d\udcb3Aceitamos
        cart\u00f5es de cr\u00e9dito via PAG SEGURO( parcelamento em at\u00e9 12x)
        a consultar \ud83d\udcb3 \ud83d\udccd\nMais informa\u00e7\u00f5es via Direct
        ou pelo Whatsapp (73) 981373682  Yasmin.\n.\n.\n.\n.\n.\n.\n#outono #outonoinverno
        #inverno2019 #pinkstore_ba #tenisfeminino[...]
