---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v4.0/17841593698074073/recent_media?access_token=EAAUiZCczYw5wBAGuok0kUz9IHlLZAxGonmNQzBPtzwtgft9LfJ7fGIYXOZBEBrLZAZBAyZBerjSqAZAAVwZAm64OpU9bJMm8PXnsfzWutGDmZAdhSGMMixCsFdZAnZAcKM1Yot7ZAVq0pZBZCW0wCYIfwAar1uWHP1ZAwUDAhbTcPeRhJpVRu5gvpL3YLZAs&fields=id,media_type,comments_count,permalink,media_url,like_count,caption,children%7Bid,media_type,media_url,permalink%7D&limit=&user_id=17841412154572203
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"b8687accb61ddecce2d22948559727f637c9fdb2"'
      X-Page-Usage:
      - '{"call_count":1,"total_cputime":1,"total_time":1}'
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.2
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"17865294634422337","media_type":"IMAGE","comments_count":1,"permalink":"https:\/\/www.instagram.com\/p\/BzdbfqBg_MA\/","media_url":"https:\/\/scontent.xx.fbcdn.net\/v\/t51.2885-15\/66476288_2299919410275193_3929707182695101225_n.jpg?_nc_cat=106&_nc_oc=AQky3TU0GT0f2a1SylRzWRowZwiFL6GWrsu_oB8zDsWIccdt-yG5DqalmHKIEqT036M&_nc_ht=scontent.xx&oh=c8f21fb6eb2a64a1e6f000db34b4f801&oe=5DAEA081","like_count":1,"caption":"\u2615
        Ever make too much coffee?\nI never get the right amount of liquid to coffee
        granules when using a cafetiere so I often have leftover coffee.\n\u2800\u2800\u2800\u2800\u2800\u2800\u2800\u2800\u2800\nWhy
        waste it? \u2800\n\u2800\u2800 \u2800\u2800\u2800\u2800\n\u2744\ufe0f Pour
        it into Ice Cube Trays and Freeze.\n\u2800\u2800\u2800\u2800\u2800\u2800\u2800\u2800\u2800\n\u2753
        So, what does this have to do with the photo? \u2800\u2800\u2800\u2800\u280[...]
