---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/18044467927200524?access_token=&fields=id,media_type,comments_count,permalink,media_url,like_count,caption,children%7Bid,media_type,media_url,permalink%7D&limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Www-Authenticate:
      - OAuth "Facebook Platform" "unauthorized_client" "A user access token is required
        to request this resource."
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.11
    body:
      encoding: UTF-8
      string: '{"error":{"message":"A user access token is required to request this
        resource.","type":"OAuthException","code":102,"fbtrace_id":"ADezfzPTCEH1kTheZGIoBdH"}}'
  recorded_at: Tue, 12 Nov 2019 14:56:41 GMT
recorded_with: VCR 4.0.0
