---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/18044467927200524?access_token=EAAUiZCczYw5wBAAZAhUfGUDNH44kbKXaWkh7ajlqe6GZBOuhVHVKVjY0emSXry0nlxAfTMrdedEz3HZAmEmAVZA7SrOA1k0MhVEZBXs7WoJ9aze6oohLChs82New2tYbFfhyGTjvLNWZAvrLDHHUeE5kqVqdIoUztMCg3MEUq9z6QZDZD&fields=id,media_type,comments_count,permalink,media_url,like_count,caption,children%7Bid,media_type,media_url,permalink%7D&limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"1a4decb97a3ebb522ef82bddcc8164783d9f1415"'
      X-Business-Use-Case-Usage:
      - '{"17841408163154441":[{"type":"instagram","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.3
    body:
      encoding: ASCII-8BIT
      string: '{"id":"18044467927200524","media_type":"IMAGE","comments":{"data":[{"timestamp":"2019-11-12T14:40:49+0000","text":"Comentario
        2","id":"17874113710493790"},{"timestamp":"2019-11-12T14:40:45+0000","text":"Comentario
        1","id":"17874698611489877"}]},"comments_count":2,"permalink":"https:\/\/www.instagram.com\/p\/B4vTMwPheEo\/","media_url":"https:\/\/scontent.xx.fbcdn.net\/v\/t51.2885-15\/72781811_416847495675882_9034161583027061653_n.jpg?_nc_cat=105&_nc_oc=AQkyILB5bFqdBESwqBRtrUMP7UIvQMYIitGTsyMc6wQ0_8InTExjtgZYfberOlGRaWU&_nc_ht=scontent.xx&oh=f8841d8ee9e1e30af4577027987ca9bb&oe=5E58051E","like_count":0,"caption":"#aeromexico
        \u0040superstyle.flimp los cabos"}'
  recorded_at: Tue, 12 Nov 2019 14:41:14 GMT
recorded_with: VCR 4.0.0
